*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.calculator{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #37739b;
    background-image: linear-gradient(225deg, #37739b 0%, #135480 33%, #143953 66%, #191d4e 100%);

}
input{
    width: 26%;
    display: flex;
    text-align: end;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(242, 231, 231);
    background-color: transparent;
    border:1px solid black;
}
.button{
    width: 26%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: rgb(37, 10, 142);
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 800;
    box-shadow:8px 10px 20px  rgb(69, 51, 141);
}
button:hover{
    background-color:rgb(70, 28, 235) ;
}
.equal{
    background-color: rgba(236, 236, 33, 0.77);
}
.icon{
    color: rgba(18, 222, 18, 0.929);
}